/* app css stylesheet */

body {
    font-family: Avenir,'Helvetica Neue',Arial,sans-serif;
    background: #EAEAEA;
}

h1 {
    padding: 0px;
    margin: 0px;
}

#logo {
    width: 50px;
    margin: 10px;
}

#queries {
    margin: 10px auto;
    position: relative;
    width: 250px;
    text-align: left;
}

.container {
    text-align: center;
    background: #FFFFFF;
    width: 500px;
    margin: 20px auto;
    box-shadow: 0 2px 2px #AAAAAA;
}

.footer {
    text-align: center;
    font-size: 12px;
    color: #AAA;
}

.chartBase {
    fill: #EEEEEE;
}

.progressCircle {
    fill: #F4F4F4;
}

.actualText {
    fill: #4D4D4D;
    font-size: 32px;
    text-anchor: end;
}

.percentText {
    fill: #606060;
    font-size: 15px;
    text-anchor: middle;
}

.progressText {
    fill: #939393;
    font-size: 13px;
    text-anchor: middle;
}
