<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Betterworks Demo</title>
  <link rel="stylesheet" href="css/app.css">
  <script src="bower_components/d3/d3.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
</head>
<body ng-app="betterworksApps" ng-controller="ChartCtrl">

    <div class="container">
        <img id="logo" src="img/BetterWorks.png">
        <h1>Betterworks Demo</h1>

        <div id="queries">
            <div>Expected: <input ng-model="expected" ng-model-options="{debounce: 300}"></div>
            <div>Actual: <input ng-model="actual" ng-model-options="{debounce: 300}"></div>
        </div>

        <progress-chart expect-val="expected" actual-val="actual"></progress-chart>
        <progress-chart id="chart{{chart.id}}" expect-val="chart.expected" actual-val="chart.actual" ng-repeat="chart in chartData"></progress-chart>
        <div>
            <img src="img/Sample.png" style="border: 2px dotted #000;">
        </div>

    </div>
    <div class="footer">2015/10/22 - Justin Huang</div>
</body>
</html>
